attrs==20.3.0
boto3==1.17.33
botocore==1.20.33
google-pasta==0.2.0
importlib-metadata==3.7.3
jmespath==0.10.0
numpy==1.20.1
packaging==20.9
pandas==1.2.3
protobuf==3.15.6
protobuf3-to-dict==0.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.3.6
sagemaker==2.30.0
six==1.15.0
smdebug-rulesconfig==1.0.1
urllib3==1.26.4
zipp==3.4.1
